<header class="at_logout_header">
  <div class="head_top"></div>
  <div class="head_bottom">
    <div class="head_bottom_container">
      <div class="header_logo">
        <%= link_to "/" do %>
        <img src="/logo.png" alt="logo">
        <% end %>
      </div>
      <div class="header_login">
        <div class="login_image">
          <img src="/lock.png">
        </div>
        <ul class="header_menus">
          <li><%= link_to("ログイン", "/login")%></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="top_main">
  <div class="top">
    <div class="top_image">
      <img src="/top3.jpg" alt="top_image">
      <div class="top_button">
        <div class="top_signUp top_box">
          <%= link_to("まずは新規登録(無料)", "/signup")%>
        </div>
      </div>
    </div>
    <div class="top_about">
      <h1>!ログイン画面にサンプルアカウントのIDとパスワードを記載しております!</h1>
      <h3>FORIOとは？</h3>
      <p>
          「未経験からエンジニアに転職しようとポートフォリオを作成したものの、エントリーした企業以外にも見てもらい、<br>
          幅広くご縁をもらいたい！」という自分自身の悩みに対して、企業と求職者が存在し、<br>
          且つポートフォリオをベースにコミュニケーション可能なプラットフォームを提供し、上記悩みを解決するサービスです。
        </p>
    </div>
  </div>
</main>