<header class="at_logout_header">
	<div class="head_top"></div>
	<div class="head_bottom">
		<div class="head_bottom_container">
			<div class="header_logo">
				<%= link_to "/" do %>
				<img src="/logo.png" alt="logo">
				<% end %>
			</div>
			<div class="header_login">
				<div class="login_image">
					<img src="/lock.png">
				</div>
				<ul class="header_menus">
					<li><%= link_to("ログイン", "/login")%></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<main class="top_main">
	<div class="top">
		<div class="top_image">
			<img src="/top3.jpg" alt="top_image">
			<div class="top_button">
				<div class="top_signUp top_box">
					<%= link_to("まずは新規登録(無料)", "/signup")%>
				</div>
			</div>
		</div>
		<div class="top_about">
			<div class="top-about_header">
				<h3>FORIOとは</h3>
			</div>
			<div class="top-about_content">
				<p>FORIO(フォリオ)とは、<br>
					PORTFOLIO(成果物)で、RECRUIT(就活)しようをコンセプトに、<br>
					この2つの言葉を合わせた名前になっております。<br>
					作成したポートフォリオを、アピール文と共に投稿し、シェアすることができ、<br>
					さらに魅力的なポートフォリオの投稿主には、企業からのスカウトも届きます。<br>
				</p>
			</div>
		</div>
	</div>
</main>